<div class="password-reset-container">
  <h3>My Fashion</h3>

  <div class="password-reset-card">
    <h2>パスワード再設定</h2>

    <%= form_with model: resource, url: password_path(resource_name), method: :put, local: true, data: { turbo: false } do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "パスワード" %><br />
        <div class="input-wrapper">
          <% if @minimum_password_length %>
            <%= f.password_field :password, placeholder: "英数字#{@minimum_password_length}文字以上" %>
          <% end %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード確認" %><br />
        <div class="input-wrapper">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード再入力" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "送信" %>
      </div>
    <% end %>
  </div>
</div>
